form {
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px gray;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Style the Back button differently */
button[type="button"] {
  background-color: #ddd;
  color: black;
  margin-right: 10px;
}

button[type="button"]:hover {
  background-color: #bbb;
}
.heading {
  display: flex;
}
.desscription {
  margin-left: 100px;
}
.img {
  display: flex;
  justify-content: space-between;
}
